.task-container {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    height: auto;
    min-height: 50px;
    white-space: normal;
}