body {
  margin: 0;
}

.header-container {
  height: var(--header-length);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 150px;
  background-color: var(--app-background-color);
  border-bottom: 1px solid #757575;
  border-top: 1px solid #757575;

}

.header-title {
  font-size: 24px;
  margin: 0;
}

.header-button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: large;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
