.container {
    display: flex;
    transition: all 0.3s ease;
    /* Enable horizontal scrolling */
    overflow-x: auto;
}

#board-header-section {
    display: flex;
}

#board-title-wrapper {
    flex: 1;
    max-width: 25%;
    padding: 10px;
    display: flex;
    gap: 60px;
    color: white;
}

#board-header-section {
    background: rgba(182, 211, 242, 0.2); /* Adjust the last value (0.5) to change the darkness */
  }

#board-title {
    margin-left: 10px;
    font-size: 1.4em;
}

.sidebar-toggle-btn {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    background-color: #f5f5f5f5;;
    position: relative;
    border-radius: 50%;
    z-index: 100;
}

.sidebar-toggle-btn.closed {
    visibility: hidden;
}

.sidebar-toggle-btn:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.sidebar-toggle-btn:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.arrow-icon-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid black;
    /* Adjust color as needed */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.arrow-icon-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: none;
    border-right: 8px solid black;
    /* Adjust color as needed */
    /* Adjust color as needed */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}