.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 0;
    height: calc(100vh - var(--header-length));
    transition: width 0.2s ease;
    visibility: hidden;
    border-right: 1px solid black;
    background-color: var(--sidebar-background-color);
}

.sidebar-overlay {
    position: absolute;
    width: 0;
    visibility: hidden;
    height: calc(100vh - var(--header-length));
    border-right: 1px solid black;
    z-index: 1;
}

.highlight {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar-overlay.open {
    width: 20px;
    visibility: visible;
}

.sidebar.open {
    width: var(--sidebar-width);
    visibility: visible;
}

.sidebar-space {
    margin-left: var(--sidebar-width);
}

#username-section {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
}

#username-section button {
    margin-left: auto;
}

#username-section h4 {
    font-size: small;   
}

#delete-board-section {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6px;
    border-top: 1px dotted black;
}

#delete-board-button {
    background-color: #e74c3c;
    /* red color */
    border: none;
    color: white;
    width: 90%;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    /* Optional: Add a subtle shadow to give it some depth */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#delete-board-button:hover {
    background-color: #c0392b;
    /* slightly darker red for hover */
    transform: scale(1.05);
    /* slightly enlarge the button when hovered */
}

.boards {
    margin-top: 14px;
}

.boards h4 {
    margin-left: 10px;
}

.board-button {
    width: 70%;
    border-radius: 10px;
    height: 28px;
    background-color: #F6F4EB;

}

.board-button:hover {
    background-color: #edf1fa;
}

.popup {
    position: fixed;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 14px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* To ensure it appears above all other elements */
    z-index: 1000;
}

.boardPage-wrapper {
    height: 100vh;
    background-color: var(--app-background-color);
}

.workspace-list {
    margin-top: 10px;
}

.board-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 8px 8px;
    cursor: pointer;
    margin: 5px 0;
}

.board-link:hover {
    background-color: #ffffff;
}

.board-img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.board-text {
    display: block;
    flex-grow: 1;
    margin-left: 5px;
    color: black;
    font-size: small;
}