.container {
    display: flex;
    transition: all 0.3s ease;
    /* Enable horizontal scrolling */
    overflow-x: auto;
}

.sidebar {
    width: 0;
    transition: width 0.3s ease;
    visibility: hidden;

    background: rgb(47, 151, 204);
    background: -moz-linear-gradient(90deg, rgba(47, 151, 204, 1) 0%, rgba(145, 200, 228, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(47, 151, 204, 1) 0%, rgba(145, 200, 228, 1) 100%);
    background: linear-gradient(90deg, rgba(47, 151, 204, 1) 0%, rgba(145, 200, 228, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f97cc", endColorstr="#91c8e4", GradientType=1);

    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 99;

    border-right: 1px solid black;
}

.sidebar.open {
    width: 200px;
    visibility: visible;
}

.sidebar-space {
    margin-left: 200px;
}

#username-section {
    display: flex;
    justify-content: center;
    margin-top: 60%;
    font-size: x-large;
}

#delete-board-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

#delete-board-button {
    background-color: #e74c3c;
    /* red color */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    /* Optional: Add a subtle shadow to give it some depth */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#delete-board-button:hover {
    background-color: #c0392b;
    /* slightly darker red for hover */
    transform: scale(1.05);
    /* slightly enlarge the button when hovered */
}

.boards {
    margin-top: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.board-button {
    width: 70%;
    border-radius: 10px;
    height: 28px;
    background-color: #F6F4EB;

}

.board-button:hover {
    background-color: #edf1fa;
}

.popup {
    position: fixed;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 14px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* To ensure it appears above all other elements */
    z-index: 1000;
}

.boardPage-wrapper {
    height: 100vh;
    background-color: #91C8E4;
}