#board-header-section {
    display: flex;
    background-color: #79badb;
}

#board-title-wrapper {
    flex: 1;
    max-width: 25%;
    padding: 10px;
}

#board-title {
    margin-left: 10px;
    font-size: 1.4em;
}

