#columns-wrapper {
    /* Enable horizontal scrolling */
    overflow-x: auto;
    /* Prevent new line wrapping */
    white-space: nowrap;
    display: flex;
    padding-top: 10px;
    padding-left: 25px;
}

.column-container {
    width: 295px;
    flex-shrink: 0;
    /* Prevent the container from shrinking */
    flex-grow: 0;
    /* Prevent the container from growing */
    margin-right: 10px;
}

.chunk-column {
    width: 330px;
}

.column-wrapper {
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    background-color: #F6F4EB;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 4px;
    position: relative;

    /* overflow: visible; */
    overflow-y: scroll;
}

.column-wrapper::-webkit-scrollbar {
    width: 8px;
}

.column-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#create-column-button {
    width: 100%;
}

hr {
    margin-top: 7px;
}

.column-title {
    margin: 4px;
    text-align: center;
    white-space: normal;
}