.column-wrapper {
    width: 100%;
    min-height: 420px;
    max-height: 675px;
    background-color: #F6F4EB;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 4px;
    position: relative;

    /* overflow: visible; */
    overflow-y: scroll;
}

.column-container {
    width: 250px;
    flex-shrink: 0; /* Prevent the container from shrinking */
    flex-grow: 0; /* Prevent the container from growing */
    margin-right: 10px;
  }

#columns-wrapper {
    /* Enable horizontal scrolling */
    overflow-x: auto;
    /* Prevent new line wrapping */
    white-space: nowrap;
    display: flex;
    margin-left: 25px;
    padding: 10px;
}

.column-wrapper::-webkit-scrollbar {
    width: 8px;
}

.column-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#create-column-button {
    width: 100%;
}

hr {
    margin-top: 7px;
}

.column-title {
    margin: 4px;
    text-align: center;
    white-space: normal;
}

.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    background: #000;
    border-radius: 50%;
}
