.note-wrapper {
    display: inline-block;
    border: 5px solid rgba(255, 255, 255, .5);
    position: relative;
}

.note-wrapper:hover {
    background-color: #F6F4EB;
    cursor: pointer;
}

.notes-wrapper {
    white-space: normal;
    padding: 10px;
    margin-top: 10;
}

.note-title {
    padding: 3px;
    font-weight: 800;
}

.note-create-button {
    display: inline-block;
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: rgb(245, 244, 235, 0.5);
    cursor: pointer;
}

.note-create-button:hover {
    background-color: rgb(245, 244, 235, 1);
}

.note-create-input {
    width: 100%;
    padding: 1px;
}

.note-editor {
    width: 90%;
    height: 90%;
    padding: 20px;
}